/* color Document */
$orange-color: #ff7508;
$violate-color: #2e4980;
$teal-color: #2aa2b0;
$black-color: #000;
$light-black-color: #525252;
$text-black-color: #333;
$dark-blue-color: #2a6496;
$white-color:#fff;
$sub-title :#666;
$light-grey-color :#F5F5F5;

