<!--brudcrumb-->
<section id="page-title" class="bg-title">
			<div class="container clearfix">
				<div class="row">
					<div class="col-md-12 topmargin">
						<div class="heading-block h-block2 center text-center">
				<h1>About Us</h1>
			</div>
					</div>
				</div>
			</div>
		</section>
<!--end-->
<div class="section notopborder topmargin-sm bottommargin-sm noborder nobg achivements_div">

			<div class="container clearfix">
				<div class="heading-block center small_heading">
					<h2>Our Achievements</h2>
					<p class="divcenter margn-top-20">XeliumTech Solutions, a member of Nasscom, Started in 2010 with a vision to be a quality one-stop solutions company. Today, we are proud to be a end to end trusted Software services partners for companies globally across North America, Australia, UK, Europe, Middle-East, South-East Asia.
					</p>

				</div>

				<div class="col_one_fifth nobottommargin center" data-animate="bounceIn">
					<i class="far fa-chart-bar"></i>
					<div class="counter counter-lined"><span>7</span>+</div>
					<h5>Years of Growth</h5>
				</div>

				<div class="col_one_fifth nobottommargin center" data-animate="bounceIn" data-delay="200">
					<i class="fa fa-users "></i>
					<div class="counter counter-lined"><span>200</span>+</div>
					<h5>Employees</h5>
				</div>

				<div class="col_one_fifth nobottommargin center" data-animate="bounceIn" data-delay="400">
					<i class="fa fa-building"></i>
					<div class="counter counter-lined"><span>5</span>
					</div>
					<h5>Global Offices</h5>
				</div>

				<div class="col_one_fifth nobottommargin center" data-animate="bounceIn" data-delay="600">
					<i class="fa fa-cogs"></i>
					<div class="counter counter-lined"><span>24X7</span>
					</div>
					<h5>Operations</h5>
				</div>
				<div class="col_one_fifth nobottommargin center col_last" data-animate="bounceIn" data-delay="200">
					<i class="fa fa-globe"></i>
					<div class="counter counter-lined"><span>500</span>
					</div>
					<h5>Serving Fortune 500 companies</h5>
				</div>


			</div>

		</div>
